<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <style type="text/css">

      .about{
        margin: 50px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% if(!user)  { %>
    <li class="breadcrumb-item"><a href="/signup">Signup</a></li>
    <li class="breadcrumb-item"><a href="/login">Login</a></li>
    <% } %>
    <% if(user)  { %>
    <li class="breadcrumb-item"><a href="/profile"> <%= user.fullName %> </a></li>
    <li class="breadcrumb-item"><a href="/logout">Logout</a></li>
    <li class="breadcrumb-item"> <a href="/cart" class="glyphicon glyphicon-shopping-cart"> <span class="badge"> <%= cart %> </span> </a> </li>
    <% } %>
  </ol>
</nav>
<div class="about">
  <h2>Categories :</h2>
  <% for(var i=0;i< category.length;i++) { %>
    <p> <a href='/products/<%= category[i]._id %>' ><%= category[i].name %></a> </p>
  <% } %>
</div>

  </form>
  </body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buy and Sell</title>
    <style type="text/css">
    .glyphicon{
      font-size: 200%;
      margin-top: 20px;
    }
    </style>
</head>
<body>
<header style="background-image:url(logo/logo.jpg);background-repeat: no-repeat;">
<div class="logoDiv"></div>
<div class="registerBtn">
    <center>
      <% if(!user)  { %>
    <a href="/login"><button class="loginBtn btn btn-primary">Login</button></a>&ensp;
    <a href="/signup"><button class="signupBtn btn btn-primary">Sign-Up</button></a>
    <% } %>
    <% if(user)  { %>
      <a href="/profile"><button class="loginBtn btn btn-primary"> <%= user.fullName %> </button></a>&ensp;
      <a href="/logout"><button class="signupBtn btn btn-primary">Logout</button></a>
      <a href="/cart" class="glyphicon glyphicon-shopping-cart" id="icon"> <span class="badge"> <%= cart %> </span> </a> </li>
    <% } %>
    </center>
</div>
</header>

<main id="colleges">
    <div class="searchBar dropdown">
        <center>
          <form method="post">

          </form>
            <input type="text" placeholder="Search Colleges..." id="searchbar" class="dropdown-toggle" data-toggle="dropdown" />

                <!-- <button type="button" class="closeList" aria-label="Close" onclick="removeCollegeList()">
                    &times;
                </button> -->
                <ul class="dropdown-menu" id="collegeList">
                    <li>Amity University, Noida</li>
                    <li>Birla Institute of Technology, Mesra</li>
                    <li>Birla Institute of Technology and Science, Pilani</li>
                    <li>All India Institute of Medical Sciences, Delhi</li>
                    <li>All India Institute of Medical Sciences, Bhopal</li>
                    <li>All India Institute of Medical Sciences, Bhubaneshwar</li>
                    <li>All India Institute of Medical Sciences, Jodhpur</li>
                    <li>All India Institute of Medical Sciences, Patna</li>
                    <li>All India Institute of Medical Sciences, Raipur</li>
                    <li>All India Institute of Medical Sciences, Nagpur</li>
                    <li>Indian Institute of Technology, Roorkee</li>
                    <li>Indian Institute of Technology, Madras</li>
                    <li>Indian Institute of Technology, Kharagpur</li>
                    <li>Indian Institute of Technology, Kanpur</li>
                    <li>Indian Institute of Technology, Guwahati</li>
                    <li>Indian Institute of Technology, Dhanbad</li>
                    <li>Indian Institute of Technology, Delhi</li>
                    <li>Indian Institute of Technology, Bombay</li>
                    <li>Indian Institute of Information Technology, Hyderabad</li>
                    <li>Indian Institute of Information Technology, Allahabad</li>
                    <li>Vellore Institute of Technology</li>
                </ul>
                <button type="submit" class="btn btn-default" name="button">Search</button>
        </center>
    </div>
</main>
<div>
  <h2 id="welcome"></h2>
</div>
<div class="pro-cat">
  <% for(var i=0;i< category.length ; i++) { %>
    <div class= <%= category[i].name %> >
        <div class="products">
        <a href="/products/<%= category[i]._id %>">
        <img src="/icons/<%= category[i].name %>.jpg" class="products-icon" />
        </a>
        <br> <%= category[i].name %>
        </div>
    </div>
  <% } %>
        <!-- <div class="study">
            <div class="products">
            <a href="#">
            <img src="icons/study.jpg" class="products-icon" />
            <br>Study
            </div>
            </a>
        </div>
        <div class="electronics">
            <div class="products">
            <a href="electronics.html">
            <img src="icons/electronics.jpg" class="products-icon"  />
            <br>Electronics
            </a>
            </div>
        </div>
        <div class="sports">
            <div class="products">
            <a href="#">
            <img src="icons/sports.jpg" class="products-icon"  />
            <br>Sports
            </a>
            </div>
        </div>
        <div class="cycles">
            <div class="products">
            <a href="#">
            <img src="icons/cycle.jpg" class="products-icon"  />
            <br>Cycles
            </a>
            </div>
        </div>
        <div class="others">
            <div class="products">
            <a href="#">
            <img src="icons/others.jpg" class="products-icon"  />
            <br>Others
            </a>
            </div>
        </div> -->
</div>

<footer>

</footer>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="scripts/home.js"></script>
<link rel="stylesheet" href="styles/home.css" />


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
$(#button).click(function(){
  $(#colleges).css('display','none');
  $(#welcome).html('Welcome to'+' '+$(#searchbar).value());
});
</script>

</body>
</html>
